@import url(http://fonts.googleapis.com/css?family=Droid\+Sans\+Mono)
@import 'bower_components/nib'

$foreground = lightblue
$background = black

body
  background linear-gradient(top, 
    transparent 0px, 
    transparent 1px, 
    alpha($foreground, 0.25) 1px, 
    alpha($foreground, 0.25) 2px)
  -webkit-background-size 100% 2px
  -moz-background-size 100% 2px
  font-family 'Droid Sans Mono', Monaco, "Lucida Console", monospace
  font-size 10pt
  text-shadow 0px 0px 10px $foreground
  padding 2px
  background-color $background
  color $foreground
  
pre
  margin-top 0 !important

a
  color $foreground
  &:visited
    color lightness($foreground, 80%)

span
  &.symlink
    color lightness($foreground, 20%)

.prompt
  background-color lightness($foreground, 80%)
  background linear-gradient(top, 
    transparent 0px, 
    transparent 1px, 
    alpha($foreground, 0.5) 1px, 
    alpha($foreground, 0.5) 2px)
  color $foreground
  text-shadow none
  
  &.localhost
    background transparent

$keyframe-blink = blink
.cursor
  font-weight normal
  background-color $foreground
  -webkit-animation 1s $keyframe-blink step-end infinite
  -moz-animation 1s $keyframe-blink step-end infinite
  -ms-animation 1s $keyframe-blink step-end infinite
  -o-animation 1s $keyframe-blink step-end infinite
  animation 1s $keyframe-blink step-end infinite

@keyframes $keyframe-blink {
  from,to {
    visibility hidden
  }
  50% { 
    visibility visible
  }
}
