/home/ryan
|-- about.txt
|-- code
|   |-- <a href="https://github.com/rcreasey">github</a>
|   `-- <a href="https://gist.github.com/rcreasey">gists</a>
|-- files
|-- gaming
|   |-- <a href="http://us.battle.net/wow/en/character/bonechewer/Katalae/simple">katalae.wow</a>
|   |-- <a href="https://gate.eveonline.com/Profile/Tarei">tarei.eve</a>
|   |-- <a href="http://www.xboxgamertag.com/search/tarnawska">tarnawska.xbl</a>
|   `-- <a href="http://battlelog.battlefield.com/bf3/soldier/gst-kaneda/stats/333802028">gst-kaneda.bf3</a>
|-- social
    |-- <a href="http://www.facebook.com/ryan.creasey">facebook</a>
    |-- <a href="http://www.linkedin.com/in/ryancreasey">linkedin</a>
    `-- <a href="https://twitter.com/rcreasey">twitter</a>