%div#1{:style => 'display: none'}
  localhost %
  %div#2{:style => 'display: none'} ssh ryan@kaneda.net
  %div#3{:style => 'display: none'} ryan@kaneda.net's password:
%div#4{:style => 'display: none'}
  kaneda.net % 
  %span#cursor &nbsp;
  
