%div#1{:style => 'display: none'}
  %span localhost %
  %span#2{:style => 'display: none'} ssh ryan@kaneda.net
  %div#3{:style => 'display: none'} ryan@kaneda.net's password:
%div#4{:style => 'display: none'}
  kaneda.net % 
  %span#5{:style => 'display: none'} tree -d ~
%div#6{:style => 'display: none'}
  %pre= partial 'prompt/tree'
  %span kaneda.net % 
  %span#cursor &nbsp;
