%div#1{:style => 'display: none'}
  %span localhost %
  %span#2{:style => 'display: none'} ssh ryan@kaneda.net
  %div#3{:style => 'display: none'} ryan@kaneda.net's password:
%div.prompt#4{:style => 'display: none'}
  kaneda.net % 
  %span#5{:style => 'display: none'} tree -d ~
%pre#6{:style => 'display: none'}= partial 'prompt/tree'
%div.prompt#7{:style => 'display: none'}
  kaneda.net % 
  %span#cursor &nbsp;
