extends layout
include includes/prompt

block content
  div.prompt#1(style='display: none')
    span kaneda.net %
    span.command#2(style='display: none') cat about.md
  div#3(style='display: none')
    include includes/about.markdown
  mixin prompt

  script
    var one, two, three, timeout;

    timeout = 1000;

    three = function() {
      $('#3').show();
      return setTimeout(prompt, timeout);
    };

    two = function() {
      $('#2').show().jTypeWriter({
        duration: 0.7
      });
      return setTimeout(three, timeout);
    };

    one = function() {
      $('#1').show();
      return setTimeout(two, timeout);
    };

    $(document).ready(one);