extends layout
include includes/prompt

block content
  div.prompt#1(style='display: none')
    span kaneda.net %
    span.command#2(style='display: none') cat about.md
  div#3(style='display: none')
    include includes/about.markdown
  mixin prompt

  :coffeescript
    timeout = 1000

    three = ->
      $('#3').show()
      setTimeout(prompt, timeout)

    two = ->
      $('#2').show().jTypeWriter({duration: 0.7})
      setTimeout(three, timeout)

    one = ->
      $('#1').show()
      setTimeout(two, timeout)

    $(document).ready(one);