extends layout

block content
  div.prompt#1(style='display: none')
    span kaneda.net %
    span.command#2(style='display: none') cat about.md
  div#3(style='display: none')
    include includes/about.markdown
  div.prompt#4(style='display: none')
    span kaneda.net %
    span.command#cursor &nbsp;

  script
    var four, one, three, timeout, two;

    timeout = 1000;

    four = function() {
      $('#4').show();
      return setInterval(blink_closure, timeout);
    };

    three = function() {
      $('#3').show();
      return setTimeout(four, timeout);
    };

    two = function() {
      $('#2').show().jTypeWriter({
        duration: 0.7
      });
      return setTimeout(three, timeout);
    };

    one = function() {
      $('#1').show();
      return setTimeout(two, timeout);
    };

    $(document).ready(one);