extends layout

block content
  div.prompt#1(style='display: none')
    span kaneda.net %
    span.command#2(style='display: none') cat about.md
  div#3(style='display: none')
    include includes/about.md.jade
  div.prompt#4(style='display: none')
    span kaneda.net %
    span.command#cursor &nbsp;

  script
    function four(){
      $("#4").show();
      setInterval(blink_closure, 1000);
    }

    function three(){
      $("#3").show();
      setTimeout(four, 1000);
    }

    function two(){
      $("#2").show().jTypeWriter({duration:0.7});
      setTimeout(three, 1000);
    }

    function one(){
      $("#1").show();
      setTimeout(two, 1000);
    }

    $(document).ready(one);