extends layout
include includes/prompt

block content
  div#1(style='display: none')
    span localhost %
    span.command#2(style='display: none') ssh ryan@kaneda.net
  div#3(style='display: none') ryan@kaneda.net's password:
  div.prompt#4(style='display: none')
    span kaneda.net %
    span.command#5(style='display: none') tree -d ~
  include includes/tree
  mixin prompt

  :coffeescript
    timeout = 1000

    six = ->
      $('#6').show()
      setTimeout(prompt, timeout)

    five = ->
      $('#5').show().jTypeWriter({duration: 0.5})
      setTimeout(six, timeout)

    four = ->
      $('#4').show()
      setTimeout(five, timeout)

    three = ->
      $('#3').show()
      setTimeout(four, timeout)

    two = ->
      $('#2').show().jTypeWriter({duration: 0.7})
      setTimeout(three, timeout)

    one = ->
      $('#1').show()
      setTimeout(two, timeout)

    $(document).ready(one);