extends layout

block content
  div#1(style='display: none')
    span localhost %
    span.command#2(style='display: none') ssh ryan@kaneda.net
  div#3(style='display: none') ryan@kaneda.net's password:
  div.prompt#4(style='display: none')
    span kaneda.net %
    span.command#5(style='display: none') tree -d ~
  include includes/tree
  div.prompt#7(style='display: none')
    span kaneda.net %
    span.command#cursor &nbsp;

  script
    var five, four, one, seven, six, three, timeout, two;

    timeout = 1000;

    seven = function() {
      $('#7').show();
      return setInterval(blink_closure, timeout);
    };

    six = function() {
      $('#6').show();
      return setTimeout(seven, timeout);
    };

    five = function() {
      $('#5').show().jTypeWriter({
        duration: 0.5
      });
      return setTimeout(six, timeout);
    };

    four = function() {
      $('#4').show();
      return setTimeout(five, timeout);
    };

    three = function() {
      $('#3').show();
      return setTimeout(four, timeout);
    };

    two = function() {
      $('#2').show().jTypeWriter({
        duration: 0.7
      });
      return setTimeout(three, timeout);
    };

    one = function() {
      $('#1').show();
      return setTimeout(two, timeout);
    };

    $(document).ready(one);