extends layout
include includes/prompt

block content
  div#1(style='display: none')
    span localhost %
    span.command#2(style='display: none') ssh ryan@kaneda.net
  div#3(style='display: none') ryan@kaneda.net's password:
  div.prompt#4(style='display: none')
    span kaneda.net %
    span.command#5(style='display: none') tree -d ~
  include includes/tree
  mixin prompt

  script
    var one, two, three, four, five, six, timeout;

    timeout = 1000;

    six = function() {
      $('#6').show();
      return setTimeout(prompt, timeout);
    };

    five = function() {
      $('#5').show().jTypeWriter({
        duration: 0.5
      });
      return setTimeout(six, timeout);
    };

    four = function() {
      $('#4').show();
      return setTimeout(five, timeout);
    };

    three = function() {
      $('#3').show();
      return setTimeout(four, timeout);
    };

    two = function() {
      $('#2').show().jTypeWriter({
        duration: 0.7
      });
      return setTimeout(three, timeout);
    };

    one = function() {
      $('#1').show();
      return setTimeout(two, timeout);
    };

    $(document).ready(one);