doctype 5
html
  head
    title= title
    meta(name='google-site-verification', content='yCbHLGTyph_4oAtWAjLcudbylJFo2DIw4ERTXZJwqkU')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://www.google-analytics.com/ga.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jtypewriter.js')
    script(src='/javascripts/application.js')
    script(src='/javascripts/google.js')
  body
    block content
