doctype 5
html
  head
    title= title
    meta(name='google-site-verification', content='yCbHLGTyph_4oAtWAjLcudbylJFo2DIw4ERTXZJwqkU')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//www.google-analytics.com/ga.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='/javascripts/jtypewriter.js')
    script(src='/javascripts/google.js')
  body
    block content
