body {
  padding: 2px;
  background-color: #000000;
  color: #fff;
}

div {
	font-family: Monaco !important;
	font-size: 10pt;
}

a {
  color: #FFF;
}

a:visited {
  color: #CCC;
}

span.symlink {
  color: #F00;
}

#cursor { 
  font-weight: normal; 
  background-color: #fff;
}
