body
  font-family 'Droid Sans Mono', Monaco, "Lucida Console", monospace
  font-size 10pt
  padding 2px
  background-color #000
  color #fff

pre
  margin-top 0 !important

a
  color #FFF
  &:visited
    color #CCC

span
  &.symlink
    color #F00

.prompt, #prompt
  background-color #ccc
  color #000

.command
  margin-left .5em

#cursor
  font-weight normal
  background-color #000