<p><label for="post_tag_list">How do you want to <strong>tag</strong> your post? (It's optional!)</label> <%= show_inline_errors_for(@post, 'tag_list') %><br /><span>You'll want to separate 'em with a space.</span><br /><%= f.text_field :tag_list %></p>
<p><label for="post_contents">What have you got to say?</label> <%= show_inline_errors_for(@post, 'contents') %><br/><span>This field supports <%= link_to 'Markdown', 'http://daringfireball.net/projects/markdown/basics', :title => 'The basics of the Markdown markup.' %>.</span><br /><%= f.text_area :contents, :size => '70x20' %></p>