<pre class="response">
  /home/ryan
  ├─ <a href="/about">about.md</a>
  ├─ code
  │   ├─ <a href="https://github.com/rcreasey">github</a>
  │   └─ <a href="https://gist.github.com/rcreasey">gists</a>
  ├─ <a href="https://dl.dropbox.com/u/1156833/README.txt">files</a>
  ├─ gaming
  │   ├─ <a href="https://us.battle.net/wow/en/character/black-dragonflight/Katalae/advanced">katalae.wow</a>
  │   ├─ <a href="https://gate.eveonline.com/Profile/Tarei">tarei.eve</a>
  │   └─ <a href="https://live.xbox.com/en-US/Profile?gamertag=tarnawska">tarnawska.xbl</a>
  └── social
      ├─ <a href="https://www.facebook.com/ryan.creasey">facebook</a>
      ├─ <a href="https://www.linkedin.com/in/ryancreasey">linkedin</a>
      └─ <a href="https://twitter.com/rcreasey">twitter</a>
</pre>
