<h2>Welcome...</h2>

<h3>The Site</h3>
<p>Well contrary to what most of you idiots think, this site has nothing to do with what you came here to find.</p>
<p>It has nothing to do with this <a href="http://www.imdb.com/title/tt0094625/" title="Akira">movie</a>, this <a href="http://www.math.uci.edu/~mkaneda/" title="Masayoshi Kaneda">math professor</a> or even <a href="http://www.kaneda.com/" title="the dog">the dog</a>.</p>
<p>Remember when the intar-web was nothing more than a few bbs tied loosely together and the first time you dialed up your old analog modem? Well, being indecisive and just seeing <a href="http://www.imdb.com/title/tt0083069/" title="james clavell's Shogun">Shogun</a>, I asked a japanese friend of mine for a common japanese name. "I have a brother named 'Kaneda'," he offered. I've been typing 'kaneda' at login prompts ever since.</p>
<p>However, it wasn't until my sophomore year in college that I finally decided to get a webpage, and luckily the domain wasn't squatted (well, if you want to call the $75 domain registration those pirate over at NetSol were charging). As of Feb 2007, kaneda.net is eight years old and has now sprung up into many different aspects.</p>

<h3>Ryan C. Creasey</h3>
<p>I'm a graduate of <a href="http://www.uci.edu/" title="University of California Irvine">UC Irvine</a> majoring in <a href="http://www.ics.uci.edu/" title="The School of Information and Computer Science">Information and Computer Science</a>, with a specialization in Networks and Distributed Systems.</p>
<p>I'm employed as a Senior Systems Engineer for <a href="http://www.fox.com/" title="Fox">Fox Interactive Media</a>, a <a href="http://www.newscorp.com/" title="News Corporation Company">News Corporation Company</a>. My focus is mostly engineering automation applications for our datacenters, but I'm highly interested in creating distributed computer clusters for online media platforms.  I can work a mean apache installation and have been known to be a bit of a <a href="http://www.ruby-lang.org/" title="Ruby">Ruby</a> zealot.  You can check out my <a href="http://www.linkedin.com/in/ryancreasey" title="Ryan Creasey's LinkedIn profile">LinkedIn profile</a>, if you're really that interested.</p>
<p>I'm married to my beautiful wife, <a href="http://michellecreasey.com/" title="Michelle Creasey">Michelle</a>, a Staffing Coordinator for <a href="http://www.bowtieinc.com/" title="BowTie Incorporated">BowTie Inc</a>.</p>

<h3>The Site</h3>
<p>This site has seen several iterations, some more painful and hollow than others, but hopefully this time I'll have gotten it right.  It's currently powered by <a href="http://www.waferbaby.com/">waferbaby</a>, a custom built cms by <a href="http://www.linkedin.com/in/waferbaby" title="Daniel Bogan's LinkedIn profile">Daniel Bogan</a>.  I don't pretend to be as cool as he is, but I definitely owe him a shout-out for building a solid cms.</p>
<p>I'll also mention that I'm a member of the <a href="http://evilcode.net/" title="Evilcode Corporation">Evilcode Corporation</a>, where we develop all sorts of <a href="http://evilprojects.net/" title="Evil Projects">fiendish things</a>.  Our flagship application is currently powering the hosting services for <a href="http://infernalhosting.net/" title="Infernal Hosting">Infernal Hosting</a>.</p>
