!!!
%html{"xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml", :encoding => "ascii-8bit"}
  %head
    %title kaneda.net
    %meta{:name => "google-site-verification", :content => "yCbHLGTyph_4oAtWAjLcudbylJFo2DIw4ERTXZJwqkU"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'jtypewriter', 'application', 'google'
    
  %body= yield
