!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title kaneda.net
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'jtypewriter', 'application'
    
  %body= yield